<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>get token test</title>
</head>

<body>
    <div class="container">
        <div class="section">
            <div class="columns columns is-flex is-vcentered">
                <div class="column">
                    <div class="title is-1">Get token</div>
                    <div class="box">
                        <form action="/get-token" method="post">
                            <div class="field">
                                <label class="label">Backend GUID</label>
                                <div class="control">
                                    <input class="input" type="text" name="backend_guid" placeholder="Input backend guid here">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Client Id</label>
                                <div class="control">
                                    <input class="input" type="text" name="client_id" placeholder="Input client id here">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Tenant Id</label>
                                <div class="control">
                                    <input class="input" type="text" name="tenant_id" placeholder="Input tenantid id here">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-link">Request token</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>